body {
  margin:0;
  font-family: Arial, sans-serif;
  background:#111;
  color:#eee;
  text-align:center;
}

h1,h2,h3 { margin:5px; }

#menu {
  margin:10px;
}

#map {
  width:100%;
  height:400px;
  margin:10px 0;
  border:2px solid #555;
}

ul { list-style:none; padding:0; }
li { margin:2px 0; }

input, select, button { margin:5px; padding:5px; }
