body {
  background:#111;
  color:#fff;
  font-family:Arial;
  text-align:center;
}

#menu input, #menu select, #menu button {
  margin:4px;
  padding:6px;
}

#map {
  height:300px;
  margin:10px;
  border:2px solid #333;
}

#radar {
  width:200px;
  height:200px;
  border-radius:50%;
  border:2px solid #0f0;
  background:black;
  position:fixed;
  bottom:10px;
  right:10px;
}

#radar div {
  position:absolute;
  width:6px;
  height:6px;
  border-radius:50%;
}
